@import url("https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
body {
  background-image: url(../images/png/main_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* .container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
} */
.main_btn {
  border-radius: 50px;
  padding: 11px 31px;
  background-color: #fd695a;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #fff;
}
#check,
.check {
  display: none;
}
@media (max-width: 860px) {
  .links {
    position: absolute;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    background-color: #fd695a;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.3s;
    z-index: 99;
  }
  .check {
    display: block;
  }
}

#check:checked ~ .links {
  left: 0;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
